<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>{% block title %}TPB UI{% endblock %}</title>

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bootstrap/css/bootstrap-responsive.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/myui/main.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

</head>

<body data-base-url="{{ app.request.baseurl }}">
    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}
	    <script type="text/javascript" src="{{ asset('jquery/jquery-1.9.1.min.js') }}"></script>
	    <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    {% endblock %}

</body>

</html>
