{% extends '::base.html.twig' %}


{% block title %}{{ parent() }}{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/myui/scrape.js') }}"></script>
{% endblock %}


{% block body %}
<div class="container-fluid">
	<div class="row-fluid">

		<h2>The Pirate Bay</h2>

		<ul class="nav nav-tabs">
			<li><a data-toggle="tab" href="#series">Series</a></li>
			<li><a data-toggle="tab" href="#movies">Movies</a></li>
			<li><a data-toggle="tab" href="#games">Games</a></li>
		</ul>

		<div class="tab-content">

			<div id="series" class="tab-pane fade">
				{% for serie in series %}
					<dl>
						<dt>
							<a href="http://thepiratebay.se/torrent/{{ serie.id }}" target="_new"><img src="{{ asset('tpb.gif') }}" width="14"></a>
							<a href="{{ serie.linkMagnet }}"><img src="{{ asset('magnet.gif') }}" width="14"></a>
							{{ serie.title }}
						</dt>
						<dd>
							{{ serie.category }}:{{ serie.page }}
							{{ serie.popularity }}
							{{ serie.size }}
							{{ serie.uploader }}
						</dd>
					</dl>
				{% else %}
					<h4>No series</h4>
				{% endfor %}
			</div>
			
			<div id="movies" class="tab-pane fade">
				{% for movie in movies %}
					<dl>
						<dt>
							<a href="http://thepiratebay.se/torrent/{{ movie.id }}" target="_new"><img src="{{ asset('tpb.gif') }}" width="14"></a>
							<a href="{{ movie.linkMagnet }}"><img src="{{ asset('magnet.gif') }}" width="14"></a>
							{{ movie.title }}
						</dt>
						<dd>
							{{ movie.category }}:{{ movie.page }}
							{{ movie.popularity }}
							{{ movie.size }}
							{{ movie.uploader }}
						</dd>
					</dl>
				{% else %}
					<h4>No movies</h4>
				{% endfor %}
			</div>
			
			<div id="games" class="tab-pane fade">
				{% for game in games %}
					<dl>
						<dt>
							<a href="http://thepiratebay.se/torrent/{{ game.id }}" target="_new"><img src="{{ asset('tpb.gif') }}" width="14"></a>
							<a href="{{ game.linkMagnet }}"><img src="{{ asset('magnet.gif') }}" width="14"></a>
							{{ game.title }}
						</dt>
						<dd>
							{{ game.category }}:{{ game.page }}
							{{ game.popularity }}
							{{ game.size }}
							{{ game.uploader }}
						</dd>
					</dl>
				{% else %}
					<h4>No games</h4>
				{% endfor %}
			</div>

		</div>
	</div>

	</div>
</div>
{% endblock %}