{% for item in items %}
	<dl>
		<dt>
			<a href="http://thepiratebay.se/torrent/{{ item.id }}" target="_new"><img src="{{ asset('tpb.gif') }}" width="14"></a>
			<a href="{{ item.linkMagnet }}"><img src="{{ asset('magnet.gif') }}" width="14"></a>
			{{ item.title }}
		</dt>
		<dd>
			{{ item.category }}:{{ item.page }}
			{{ item.popularity }}
			{{ item.size }}
			{{ item.uploader }}
		</dd>
	</dl>
{% else %}
	<h4>No items</h4>
{% endfor %}
