<dl id="{{ item.id }}">
	<dt>
		<a href="http://thepiratebay.se/torrent/{{ item.id }}" target="_new"><img src="{{ asset('tpb.gif') }}" width="14"></a>
		<a href="{{ item.linkMagnet }}" class="download"><i class="icon-download"></i></a>
		<a href="#remove" class="remove"><i class="icon-remove"></i></a>
		{{ item.title }}
	</dt>
	<dd>
		{{ item.category }}:{{ item.page }}
		{{ item.popularity }}
		{{ item.size }}
		{{ item.uploader }}
	</dd>
</dl>
