{% extends 'MyUiBundle::layout.html.twig' %}

{% block content %}
    <section id="category" data-category="{{ category }}">
        {% for i in range(1, pages) %}
            {% render 'MyUiBundle:Category:page' with {page: i} %}
        {% endfor %}
    </section>
{% endblock %}

{% block title %}{{ category }} | {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/myui/item.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/myui/scrape.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/myui/app.js') }}"></script>
{% endblock %}
