{% for torrent in torrents %}
	<li id="{{ torrent.id }}">
		<a class="linkTorrent" href="#torrent">{{ torrent.titleOriginal }}</a>
		<dl class="torrentActions cf">
			<dt>{{ torrent.size }} by {{ torrent.uploader.name }} ({{ torrent.uploader.statsUploadedCompared(avgStats, categoryId) }} ~ {{ torrent.uploader.statsDownloaded(categoryId) }})</dt>
			<dd><a href="http://thepiratebay.se/torrent/{{ torrent.id }}" target="_tab"><img src="{{ asset('img/tpb.gif') }}" alt="The Pirate Bay"></a></dd>
			<dd><a class="linkDownload" href="{{ torrent.linkMagnet }}"><img src="{{ asset('img/magnet.gif') }}" alt="Magnet"></a></dd>
			<dd><a class="linkUnwanted" href="#unwanted"><img src="{{ asset('img/down.png') }}" alt="Unwanted"></a></dd>
			<dt class="similar">loading...</dt>
		</dl>
	</li>
{% endfor %}
