<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="{{ path('home') }}">TPB UI</a>
        <ul class="nav">
            <li class="{{ app.request.get('category') == 'series' ? 'active' : '' }}"><a href="{{ path('category', {category: 'series'}) }}">Series</a></li>
            <li class="{{ app.request.get('category') == 'movies' ? 'active' : '' }}"><a href="#">Movies</a></li>
            <li class="{{ app.request.get('category') == 'games' ? 'active' : '' }}"><a href="#">Games</a></li>
        </ul>
    </div>
</div>
